doctype html
html(lang="ja")
  include template/_head.jade

  body
    #mainWrapper.animsition  
      .mainContents.contact
        h5 contact
        p 曲制作やイラスト制作、特設サイト制作など受け付けています. ご気軽にどうぞ.
        p ご連絡はメールかSNSからお願いします.
        p email: nc.kr.gyo.za@gmail.com
        p SNS: https://twitter.com/fjsm_u
        include template/_backBtn.jade
  
    include template/_footer.jade
