doctype html
html(lang="ja")
  include template/_head.jade

  body
    #wrapper
      #mainWrapper.animsition 
        #textBox
          #title
            h4 remember your forest
            h2 hello from fjsmu to you
          #contents 
              h3
                a(href="news.html" class="animsition-link top-link") news
              h3 
                a(href="about.html" class="animsition-link top-link") about
              h3 
                a(href="product.html" class="animsition-link top-link") product  
              h3
                a(href="contact.html" class="animsition-link top-link") contact
              h3 
                a(href="link.html" class="animsition-link top-link") link
        #news
          include topNewsContents.jade
        
      #human
        img.items(src="img/angry.png" class="angry")
        img.items(src="img/human.png")
    
      include template/_footer.jade
