doctype html
html(lang="ja")
  include template/_head.jade

  body
    #mainWrapper.animsition  
      .mainContents.link
        h5 link
        p product
        p soundcloud: 
          a(href="https://soundcloud.com/krigyouza") https://soundcloud.com/krigyouza
        p pixiv: 
          a(href="http://www.pixiv.net/member.php?id=7569500") http://www.pixiv.net/member.php?id=7569500
        p github: 
          a(href="https://github.com/fujishimu") https://github.com/fujishimu
        p BOOTH: 
          a(href="https://fjsmu.booth.pm/") https://fjsmu.booth.pm/
        br
        p SNS & blog
        p twitter: 
          a(href="https://twitter.com/fjsm_u") https://twitter.com/fjsm_u
        p hatenablog: 
          a(href="http://fjsmu.hatenablog.com/") http://fjsmu.hatenablog.com/
        br
        p circle HP
        p rack pinion: 
          a(href="http://rackpinion.jp/") http://rackpinion.jp/
        include template/_backBtn.jade

    include template/_footer.jade
