@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300);
@import url(http://fonts.googleapis.com/earlyaccess/sawarabigothic.css);


html {
  min-height: 100%;
  position: relative;
}

body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  padding-left: 5vw;
}

h5 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 40px;
}

h4 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 38px;
  margin-bottom: 0;
}

h3 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 3px;
  color: #5d5d5d;
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 115%;
}

a {
  text-decoration: none;
  color: #5d5d5d;
  cursor: pointer;
}

p {
  font-family: "Sawarabi Gothic";
  color: #3e3e3e;
}

span {
  font-family: "Sawarabi Gothic";
  color: #585858;
}

#mainWrapper {
  width: 85vw;
  height: 95vh;
  margin: 2vh 0 0 3vw;
  overflow: auto;
}

#news {
  float: left;
  margin: 15vw 0 0 10vw;
  height: 17vh;
  overflow: scroll;
}

#news h5 {
  font-size: 20px;
  margin: 0 0 0 15px;
}

#news .article {
  margin-top: 10px;
  padding-left: 0.4vw;
}

#news p {
  margin: 0 0 0 10px;
  font-size: 12px;
}

#news span {
  font-size: 10px;
  margin: 0 0 0 10px;
}

#textBox {
  float: right;
  margin-right: 5vw;
  left: 60%;
  top : 5%;
}

#contents {
  top: 20px;
}


#contents h3 {
  width: 40%;
  border-bottom: 1px solid #ada9a9;
  border-left: 1px solid #ada9a9;
  padding: 3px;
  margin-bottom: 0;
  font-size: 18px;
}

#contents p {
  font-size: 90px;
}

.mainContents {
  padding: 2vh 3vw 0 0;
}

.mainContents h5 {
  padding: 3px 3px 3px 8px;
  margin: 0;
  border-bottom: 1px solid #ada9a9;
  border-left: 1px solid #ada9a9;
}

.mainContents p {
  font-size: 90%;
}

.mainContents p.name {
  margin: 20px 0 0 0;
  font-size: 110%;
}

.mainContents span {
  padding-top: 0;
  font-size: 60%;
}

.mainContents .article {
  /*border-bottom: 1px solid #d9d9d9;*/
  padding-left: 0.5vw;
  /*padding-bottom: 4vh;*/
  margin-top: 4vh;
  margin-bottom: 10vh;
}
.mainContents .article h2 {
  border-bottom: 1px solid #d9d9d9;
}

.mainContents .article span {
  float: right;
}

.mainContents .backBtn {
  padding-bottom: 5vh;
}

.mainContents .backBtn h3 {
  border-bottom: 1px solid #ada9a9;
  border-left: 1px solid #ada9a9;
  padding: 3px;
  margin-top: 10vh;
  width: 2vw;
  font-size: 15px;
  /*float: right;*/
}

#human {
  position: absolute;
  top: 60vh;
  right: 60vw;
  opacity: 0;
}

#human img.items {
  width: 5vw;
}

#human .angry {
  position: absolute;
  top: -20%;
  /*right:
  padding-bottom: 30vh;
  /*padding-left: 5vw;*/
}

#footer {
  bottom: 1vh;
  left: 5%;
  position: fixed;
  height: 5vh;
  width: 90vw;
  margin: 2vh auto 0 auto;

  background-color: #fff;
  border-top: 1px solid #ada9a9;
}

#footer h3 {
  font-size: 20px;
  margin-top: 1vh;
  padding-left: 3vw;
  float: left;
}

#footer small {
  color: #5d5d5d;
  font-size: 0.2vw;
  float: right;
  margin-right: 1vw;
  margin-top: 2vh;
}
