@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300);
@import url(http://fonts.googleapis.com/earlyaccess/sawarabigothic.css);


html {
  min-height: 100%;
  position: relative;
}

body {
  background-color: #ffffff;
  width: 100vw;
  margin: 0;
  padding: 0;
}

h5 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 220%;
}

h4 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 200%;
  margin-bottom: 0;
}

h3 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.5vw;
  color: #5d5d5d;
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 115%;
}

p {
  font-family: "Sawarabi Gothic";
  color: #3e3e3e;
}

span {
  font-family: "Sawarabi Gothic";
  color: #585858;
}


#mainWrapper {
  width: 80vw;
  margin: 0 auto;
  margin-top: 2vh;
}


#human {
  position: relative;
  top: 500px;
  left: 10vw;
}

#human img.items {
  width: 5%;
  height: 5%;
}

#textBox {
  position: absolute;
  margin-right: 20%;
  left: 60%;
  top : 10%;
}

#textBox h2 {
  margin: 0;
  padding: 10px 0 0 0;
  float: right;
}

#contents {
  margin-top: 50px;
}

#contents h3 {
  width: 40%;
  border-bottom: 1px solid #ada9a9;
  border-left: 1px solid #ada9a9;
  padding: 3px;
  margin-bottom: 0;
  cursor: pointer;
}

#contents p {
  font-size: 90%;
}

#contents .about .contact .link {
  position: absolute;
}

#contents .article {
  border-bottom: 1px solid #dadada;
  padding-top: 20px;
}

#contents .article p {
  display: inline;
  padding-top: 0;
  /*float: left;*/
}

#contents .article time {
  display: inline;
  font-size: 50%;
  padding-top: 4px;
  /*float: right;*/
}

#mainContents {
  position: absolute;
  /*width: 80vw;*/
  left: 100vw;
  top: 10vh;
}

#mainContents .mainContents {
  position: absolute;
  width: 80vw;
}

#mainContents .mainContents h5 {
  width: 20%;
  padding: 3px 3px 0px 8px;
  margin-bottom: 0;
  border-bottom: 1px solid #ada9a9;
  border-left: 1px solid #ada9a9;
}

#mainContents .mainContents p {
  font-size: 90%;
}

#mainContents .mainContents p.name {
  margin: 20px 0 0 0;
  font-size: 110%;
}

#mainContents .mainContents span {
  padding-top: 0;
  font-size: 60%;
}

#mainContents .mainContents .backBtn h3 {
  /*font-size: 200%;*/
  border-bottom: 1px solid #ada9a9;
  border-left: 1px solid #ada9a9;
  padding: 3px;
  float: right;
  cursor: pointer;
}

#footer {
  bottom: 1vh;
  left: 10vw;
  position: absolute;
  height: 5vh;
  width: 90vw;
  margin: 2vh auto 0 auto;

  border-top: 1px solid #ada9a9;
}

#footer h3 {
  margin-top: 1vh;
  padding-left: 5vw;
  float: left;
}

#footer small {
  color: #5d5d5d;
  font-size: 0.2vw;
  float: right;
  margin-right: 1vw;
  margin-top: 2vh;
}
