.mainContents.about
  h5 about
  p.name fjsm / ふじしむ
  span music, illust, programming
  br
  br
  p 作ることが好きな人。
  p 色々と手を出しすぎてテンヤワンヤしてる。
  p 好きな食べ物は餃子。
  br
  p 所属サークル: "rack pinion" "17番地の音楽室"
  .backBtn
    h3 back
