#footer
  h3
    a(href="index.html") fjsmu.com  
  small &copy; copyright 2016@fjsmu.com
  
script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
script(src="js/animsition.js")
script(src="js/javascript.js")  
