.mainContents.link
  h5 link
  p product
  p soundcloud: https://soundcloud.com/krigyouza
  p pixiv: http://www.pixiv.net/member.php?id=7569500
  p github: https://github.com/fujishimu 
  br
  p SNS
  p twitter: https://twitter.com/fjsm_u
  .backBtn
    h3 back
